In [ ]:
def  MLE_emission_parameters(train_dir):
    train_df = pd.read_csv(train_dir,sep="/t",index_col=None,header=None) # Fix error of tokenization
    train_df = train_df[0].str.split(" ", expand=True) # Get our words and labels
    train_df.rename(columns={0: "word", 1: "label"},inplace=True) 
    y_labels_counts = train_df['label'].value_counts()
    y_labels_to_x_counts = pd.DataFrame(train_df.groupby(by=["word",'label']).size(),index=None,columns=["count"])
    emission_df = y_labels_to_x_counts.join(other=y_labels_counts,on="label")
    emission_df['MLE'] = emission_df['count'] /emission_df['label']
    return emission_df

# Explanation of Emission Parameter

In [49]:
import pandas as pd 

train_dir = "data/ES/train"

train_df = pd.read_csv(train_dir,sep="/t",index_col=None,header=None) # Fix error of tokenization
train_df = train_df[0].str.split(" ", expand=True) # Get our words and labels
train_df.rename(columns={0: "word", 1: "label"},inplace=True)
print("Train_df",train_df.head())

Train_df           word label
0  disfrutemos     O
1           de     O
2          una     O
3   buenÃ­sima     O
4      calidad     O

C:\Users\USER\Anaconda3\envs\money\lib\site-packages\ipykernel_launcher.py:5: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """

In [83]:
y_labels_counts = train_df['label'].value_counts()
print(y_labels_counts)

O             31627
B-positive     1274
B-negative      429
I-positive      400
I-negative      229
B-neutral        85
I-neutral        44
Name: label, dtype: int64

In [84]:
y_labels_to_x_counts = train_df.groupby(by=["word",'label']).size()
y_labels_to_x_counts = pd.DataFrame(y_labels_to_x_counts,index=None,columns=["count"])
print(y_labels_to_x_counts)

                 count
word label
!    O             162
"    I-negative      2
     I-positive      3
     O              50
%    O              13
...                ...
â€˜  O               1
â€™  O               9
â€�  I-negative      1
     I-positive      1
     O              34

[5969 rows x 1 columns]

In [90]:
emission_df = y_labels_to_x_counts.join(other=y_labels_counts,on="label")
print(emission_df)

                 count  label
word label
!    O             162  31627
"    I-negative      2    229
     I-positive      3    400
     O              50  31627
%    O              13  31627
...                ...    ...
â€˜  O               1  31627
â€™  O               9  31627
â€�  I-negative      1    229
     I-positive      1    400
     O              34  31627

[5969 rows x 2 columns]

In [91]:
emission_df['MLE'] = emission_df['count'] /emission_df['label']
emission_df

                 count  label       MLE
word label
!    O             162  31627  0.005122
"    I-negative      2    229  0.008734
     I-positive      3    400  0.007500
     O              50  31627  0.001581
%    O              13  31627  0.000411
...                ...    ...       ...
â€˜  O               1  31627  0.000032
â€™  O               9  31627  0.000285
â€�  I-negative      1    229  0.004367
     I-positive      1    400  0.002500
     O              34  31627  0.001075

[5969 rows x 3 columns]